<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sing ip</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/register']">Not have an account?</a>
        </p>
        <mc-backend-error-messages 
          *ngIf="backendErrors$ | async"
          [backendErrors]="backendErrors$ | async"
        ></mc-backend-error-messages>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input 
                class="form-control form-control-lg" 
                type="text" 
                placeholder="email"
                formControlName="email">
              </fieldset>
              <fieldset class="form-group">
              <input 
                class="form-control form-control-lg" 
                type="password" 
                placeholder="Password"
                formControlName="password">
              </fieldset>
              <button 
                class="btn btn-lg btn-primary pull-xs-right" 
                type="submit" 
                [disabled]="isSubmitting$ | async"
              >Sing in</button>
              </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>