<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Medium</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">
          <i class="ion-compose"></i>
          New article
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">
          <i class="ion-gear-a"></i>
          Settings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
    </ul>
  </div>
</nav>