.article-preview .article-meta {
  margin-bottom: 0;
}

.article-preview .preview-link h1 {
  margin-top: 15px;
}

.article-preview .preview-link h1,
.article-preview .preview-link p {
  overflow-x: hidden;
}